html, body {
    margin: 0;
}
#imagem_fundo {
    background: url("fundo.jpg");
    height: 100%;
    text-align: center;
}
#titulo {
    color: white;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
    
}
#subtitulo {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 1px 1px  black;
}
#acao {
    color: white;
    border: 1px white solid;
    padding: 10px 20px 10px 20px ;
}